//@import "./custom-theme.scss";
// or
@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";

// Extend bootstrap class
.mh-0 {
  min-height: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.draggable {
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}

.user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nodes-library, .nodes-board {
  height: 100%;
  border: 3px inset darkgray;
  border-radius: 0.5em;
}

.node {

  position: absolute;

  &.active {
    box-shadow: 3px 3px black;
  }


  .input-btn {
    position: absolute;
    right: -10px;
    top: 10px;
    border: 1px solid black;
  }

}

.toast {

  &.toast-primary {

    color: $white !important;
    background-color: $primary !important;

    .toast-header {
      color: $white !important;
      background-color: $primary !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

  }

  &.toast-secondary {

    color: $white !important;
    background-color: $secondary !important;

    .toast-header {
      color: $white !important;
      background-color: $secondary !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

  }

  &.toast-success {

    color: $white !important;
    background-color: $success !important;

    .toast-header {
      color: $white !important;
      background-color: $success !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

  }

  &.toast-info {

    color: $white !important;
    background-color: $info !important;

    .toast-header {
      color: $white !important;
      background-color: $info !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

  }

  &.toast-warning {

    color: $white !important;
    background-color: $warning !important;

    .toast-header {
      color: $white !important;
      background-color: $warning !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

  }

  &.toast-danger {

    color: $white !important;
    background-color: $danger !important;

    .toast-header {
      color: $white !important;
      background-color: $danger !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

  }

  &.toast-light {

    color: $dark !important;
    background-color: $light !important;

    .toast-header {
      color: $dark !important;
      background-color: $light !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

  }

  &.toast-dark {

    color: $white !important;
    background-color: $dark !important;

    .toast-header {
      color: $white !important;
      background-color: $dark !important;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

  }

}

.error-boundary {

  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  .error-boundary-body {
    white-space: pre-wrap;
    //background-color: $danger;
    //border: 3px solid $danger;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 1.0);
    animation: pulse 1.00s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  @keyframes pulse {
    to {
      box-shadow: 0 0 0 20px rgba(220, 53, 69, 0);
    }
  }


}

